<div
  class='card mt-2'
  style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #0dcaf0;
    display: block ;'
  id='dashCard'
>

  <div class='card-body'>
    <h1>Your Dashboard</h1>
  </div>

</div>

{{#each user.posts as |post|}}

  <div
    class='card mt-2'
    style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'
    id='postCard'
  >

    <div class='card-body'>
      <ul class='list-group'>

        <li class='list-group-item border-0'>
          <h2 class='mb-2 border-bottom border-dark'>{{post.title}}</h2>
          <p>{{post.comment}}</p>
        </li>

      </ul>
    </div>

  </div>
{{/each}}
<div class='container'
style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'>
  <button class='btn btn-primary' id='postBtn'>+New Post</button>
</div>
<script src='/js/dash.js'></script>