<div
  class='card mt-5'
  style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #0dcaf0;
    display: block ;'
  id='dashCard'
>

  <div class='card-body'>
    <form>
      <label for='title'>Title:</label>
      <textarea
        id='title'
        class='form-control mt-2'
        type='text'
        name='title'
        placeholder='New Post'
        style='height: 30px;'
      > </textarea>
      <label for='comment'> Comment:</label>
      <textarea
        id='comment'
        class='form-control mt-2'
        type='text'
        name='comment'
        placeholder='Walk the dog'
        style='height: 200px;'
      > </textarea>
      <button id='submitBtn' class='btn btn-primary mt-2'>Add Post</button>
    </form>
  </div>

</div>

{{#each user.posts as |post|}}

  <div
    class='card mt-5'
    style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'
    id='postCard'
  >

    <div class='card-body'>
      <ul class='list-group'>

        <li class='list-group-item border-0'>
          <h2 class='mb-2 border-bottom border-dark'>{{post.title}}</h2>
          <p>{{post.comment}}</p>
        </li>

      </ul>
    </div>

  </div>
{{/each}}
<div class='container'
style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'>
  <button class='btn btn-primary' id='postBtn'>+New Post</button>
</div>
<script src='/js/dash.js'></script>