{{#each posts as |post|}}

  <div
    class='card mt-5'
    style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'
    id='postCard'
  >

    <div class='card-body'>
      <ul class='list-group'>

        <li class='list-group-item border-0'>
          <h2
            data-id='{{post.id}}'
            id='postTitle'
            class='my-2 pb-1 border-bottom border-dark'
          >{{post.title}}</h2>

          <p>{{post.content}}</p>

        </li>

      </ul>
    </div>
    <div class='card-footer text-muted'>

      <p>Posted by: {{post.username}}</p>

    </div>
  </div>
{{/each}}
{{! <div class='container'
style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'>
  <button class='btn btn-primary' id='postBtn'>+New Post</button>
</div> }}